<template>
  <v-card>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant.sync="mini"
      permanent
      :width="320"
      class="primary text-color"
    >
      <v-list-item class="px-2 text-color">
        <v-list-item-avatar>
          <v-img :src="require('@/assets/images/icon-api.png')"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>Portal DeX B2C</v-list-item-title>

        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item-group
          v-model="group"
          active-class=" active-item text--accent-4"
        >
          <v-list-item
            v-for="(item, index) in items"
            :key="item.title"
            link
            :three-line="true"
            @click="clicou(index)"
          >
            <div class="icon-menu">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>
            </div>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>
<script>

export default {
  data() {
    return {
      drawer: true,
      items: [
        { title: "Home", icon: "mdi-home-city" },
        { title: "API WebViews", icon: "mdi-api" },
        { title: "Gerenciar Usuários", icon: "mdi-account-group-outline" },
      ],
      mini: true,
      group: null,
    };
  },
  methods: {
    clicou(index) {
      console.log(index);
      setTimeout(() => {
        this.group = index;
      }, 1);
    },
  },
  created() {
    this.group = 0;
  },
};
</script>

<style scoped>
.v-card {
  height: 100%;
}

aside.v-navigation-drawer {
  width: 320px;
  color: var(--v-primary-darken1);
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
}
div.v-list-item__title {
  transition: font-size 0.3s;
}

.icon-menu,
.v-btn > .v-btn__content .v-icon,
.theme--light.v-icon,
div.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: var(--v-primary-darken1) !important;
}

.v-list-item--active > div.v-list-item__content > div.v-list-item__title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--v-primary-darken1);
}

</style>