<template>
  <v-app>
    <v-main>
      <div class="content-page">
        <div class="container-menu-content">
          <HelloWorld />
          <div class="content">
            <header>
              <h1 class="title-page">Meu Painel</h1>
              <hr />
            </header>
            <Container
              @drop="onDrop"
              drag-handle-selector=".drag-handle"
            >
              <Draggable v-for="item in items" :key="item.id">
                <div class="draggable-item card">
                  <!-- <span class="drag-handle">&#x2630;</span> -->
                  <v-icon class="drag-handle">mdi-drag</v-icon>
                  {{ item.data }}
                </div>
              </Draggable>
            </Container>
          </div>
        </div>
        <footer id="footer">Portal-Dex-B2C@2021</footer>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

import { Container, Draggable } from "vue-smooth-dnd";
import { applyDrag, generateItems } from "@/utils/utils.js";

export default {
  name: "App",
  data() {
    return {
      items: generateItems(5, (i) => ({
        id: i,
        data: "Draggable " + i,
      }))
    };
  },
  components: {
    HelloWorld,
    Container,
    Draggable,
  },
  methods: {
    onDrop(dropResult) {
      console.log(this.items);
      this.items = applyDrag(this.items, dropResult);
    },
  },
};
</script>
<style>
body,
.v-application {
  font-family: "Exo 2", sans-serif !important;
}
footer {
  text-align: right;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  background: #032340;
  height: 20px;
  font-size: 11px;
  font-weight: 600;
}
.content-page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-menu-content {
  height: 100%;
  display: flex;
}
.content {
  width: 100%;
  background: #d7d9dc;
  padding: 30px;
}
.title-page {
  margin-bottom: 15px;
  font-family: "Exo 2", sans-serif;
  padding: 5px 20px;
}
hr {
  overflow: visible;
  height: 0;
  background: transparent;
  border: 1px solid #00000029;
}
.card {
  margin: 20px 0;
  padding: 10px;
  height: 180px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
  color: #252422;
  margin-bottom: 20px;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smooth-dnd-container.vertical{
  padding: 15px 30px;
}
.drag-handle{
  cursor: move;
}
</style>